table
{
    counter-reset: rowNumber;
    
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table td {
    color: white;
}

table th{
    color: white;
    font-weight: bold;
}

body{
    background-color: #313539;
}

.search{
    justify-content: right;
}

.searchoption {
    
    align-content: flex-end;
}

.cardElements{
    flex-direction: row;
    justify-content: right;
    align-content: space-between;
    align-items: center;
}
.card{
    background-color:whitesmoke ;
    max-width: 20rem;
    justify-content: space-between;
}

.card-container{
    margin: auto;
    
}

.SearchElements{
    margin: auto;
    max-width: 800px;
}

input{
    max-width: 18rem;
    margin: auto;
}

.input-group {
    margin-bottom: 10px;
}

button {
    font-size: smaller;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
.btn {
    font-size: 15px;
}


.cardElements .btn {
    font-size: 8px;
}

.cardElements .btn:focus {
    background-color:#157347;
    color: white;
} 
